<h2><%= t('.title') %></h2>
<table>
  <%= render(@cart.line_items) %>
  <!-- render passing a collection, automatically invoke the partial once for each item in the colection -->
  <tr class="total_line">
    <td colspan="2">Total</td>
    <td class="total_cell"><%= number_to_currency(cart.total_price)%></td>
  </tr>
</table>
<% unless @order %> <!-- Apenas se não houver uma order, que ele mostra a opção de checkout -->
  <%= button_to t('.checkout'), new_order_path, method: :get %>
  <%= button_to t('.empty'), cart, method: :delete, data: {confirm: 'Are you sure?'} %>

<% else %>
  <%= button_to 'Cancel Checkout', store_path, method: :get %>
<% end %>
